body{
    font-family: Arial, sans-serif;
    background-color: rgb(228, 244, 250);
}
h1,h2{
display: flex;
justify-content: center;
align-items: center;
}
main{
display: grid;
column-gap: 100px;
}
#IncomeSection{

grid-column-start: 1;
}
#ExpensesSection{

grid-column-start: 2;
}
.row{
    display:flex;
    justify-content: center;
grid-row-start:1 ;
grid-row-end: 1;
}
#Income{
    left: 0px;
}
#Expenses{
    right: 0px;
}
ul{
    list-style-type: none;

}
li{
    padding: 10px;
}